*.o
*.o.d
httpd/httpd
mbus/mbus
picosh/picosh
ringbuffer/ringbuffer
map-reduce/word-count
rcu_list/rcu_list
ringbuf-shm/ringbuffer
fiber/fiber
channel/channel
mpmc/mpmc
mpsc/mpsc
spmc/spmc
preempt_sched/task_sched
qsbr/main
rcu_queue/rcu_queue
redirect/redirect
tinync/tinync
tpool/tpool
list-move/bench-lock
list-move/bench-lockfree
hp_list/list

# external source files
preempt_sched/list.h
